[Unit]
Description=dummyweb

[Service]
ExecStartPre=/usr/bin/docker pull nakosung/dummyweb
ExecStart=/usr/bin/docker run --rm --name %n -p 8080:8080 nakosung/dummyweb
ExecStop=/usr/bin/docker kill %n

[X-Fleet]
X-Conflicts=dummyweb-http.*.service
