[Unit]
Description=kibana
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull cactusbone/kibana
ExecStartPre=/bin/bash -c "until /usr/bin/etcdctl get /elasticsearch/elasticsearch.1.service; do sleep 1; done"
ExecStart=/bin/bash -c "ES_HOST=$(/usr/bin/etcdctl get /elasticsearch/elasticsearch.1.service) && exec /usr/bin/docker run --rm -e ES_HOST=$ES_HOST -e ES_PORT=9200 -p 80:80 --name %n cactusbone/kibana"
ExecStop=/usr/bin/docker rm -f %n

[X-Fleet]
X-Conflicts=kibana.*.service
X-Conflicts=dummyweb-http.*.service

